<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/activity_home_theme"
        tools:targetApi="31">
        <activity
            android:name=".bookTour.view.BookTourActivity"
            android:exported="false" />
        <activity
            android:name=".DetailTour.view.DetailTourActivity"
            android:exported="false" />
        <activity
            android:name=".AllTours.view.AllTourActivity"
            android:exported="false" />
        <activity
            android:name=".myvoucher.view.MyVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".replacePass.view.ReplacePassActivity"
            android:exported="false" />
        <activity
            android:name=".account.view.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".regis.view.RegisActivity"
            android:exported="false" />
        <activity
            android:name=".login.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>